<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Code</title>
  <link rel="stylesheet" href="./testLogin.css">
</head>

<body>
  <form action="">
    <div class="div-examCode">
      <table>
        <tr>
          <td>Exam Code : </td>
          <td><input id="input-code" value="MAE101_WMSj9hlTkhKGJTjM" type="text"></td>
        </tr>
      </table>
    </div>
    <button id="btn_start">Start</button>
  </form>
  <script src="./testLogin.js"></script>
</body>

</html>