<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <form>
        <h2>Login</h2>
        <div class="input">
            <img class="icon-user" src="https://image.flaticon.com/icons/svg/1077/1077114.svg"></img>
            <input id="name" type="text" name=" username" placeholder="User name" required>
        </div>
        <div class="input">
            <img class="icon-lock" src="https://image.flaticon.com/icons/svg/483/483408.svg"></i>
            <input id="pass" type="password" name=" pass" placeholder="Password" required>
        </div>


        <button class="btn_submit">
            Login
        </button>

    </form>
    <script src="./index.js"></script>
    <script>
        if (window.module) module = window.module;
    </script>

</body>

</html>