<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Subject</title>
</head>

<body>
  <form action="">
    <div>
      <table>
        <tr>
          <td>Subject Code</td>
          <td>Subject Name</td>
        </tr>
        <tr>
          <td>
            <input id="subjectCode" type="text">
          </td>
          <td>
            <input id="subjectName" type="text">
          </td>
        </tr>
      </table>
      <button id="save_subject">Save</button>
    </div>
  </form>
  <script src="./addSubject.js"></script>
</body>

</html>