<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Quiz</title>
  <link rel="stylesheet" href="./addQuiz.css">
</head>

<body>
  <form action="">
    <button id="btn_submit">Add Quiz</button>
    Choose Subject :
    <select ct name="subject" id="subject" required>
      <option value=0>---Choose---</option>
    </select>

    <div id="question">
      <h3 class="title">Question</h3>
      <textarea required></textarea>
    </div>
    <div id="answers">
      <h3 class="title">Answers</h3>
      <div class="divAddAnswer">
        <img id="btn_add_answer" src="https://image.flaticon.com/icons/svg/1828/1828919.svg" alt="">
      </div>
    </div>
  </form>

  <!-- <script src="./addQuiz.js"></script> -->
</body>

</html>